.footer {
    height: 646px;
    width: 100vw;
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #000;
    background-image: url(../assets/icons/logo_large_dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: center;
}

.footerContent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.footerLinkContainer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.footerLinks {
    display: flex;
    flex-direction: column;
}

.linkPos {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 2.5rem;
}

footer img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

footer img {
    margin-bottom: 6rem;
    margin-top: 6rem;
}

.socialLinks {
    display: flex;
    gap: 1rem;
    margin-left: 2.5rem;
}

footer a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
}

footer a:hover{
    text-decoration: underline;
}

.smallContainer{
    width: 100vw;
    height: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.locationTag{
    margin-top: 0;
    margin-bottom: 1rem;
}

small {
    color: #eaeaeaea;
    font-size: 1rem;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
}

.locationContainer{
    display: flex;
    justify-content: center;
}

div.locationContainer small{
    margin-left: 0.3rem;
    margin-bottom: 1rem;
    margin-right: 2.5rem;
}