.hero {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.parallax-layer {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.background {
    z-index: 1;
    transform: translateZ(-1px) scale(2);
}

.middle {
    z-index: 2;
    transform: translateZ(-0.5px) scale(1.5);
}

.foreground {
    z-index: 3;
    transform: translateZ(0);
}

.underhero {
    width: 100%;
    height: 5000px;
    background-color: white;
}