.hero {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    position: absolute;
    font-family: "IBM Plex Sans", sans-serif;
    color: #FFFFFF;
    font-size: 5rem;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    opacity: 1;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.parallax-layer {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.background {
    z-index: -1;
    background-position: 0%;
}

.middle {
    z-index: 2;
    background-position: 10%;
}

.foreground {
    z-index: 3;
    background-position: 20%;
}

.herofade {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
    z-index: 4; 
}

.scroll-arrow {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 1.75rem;
    height: auto;
    z-index: 5;
    transition: transform 0.3s ease-in-out;
}

.scroll-arrow:hover {
    transform: translateX(-50%) scale(1.3);
}

.underhero {
    background-color: #FFFFFF;
    width: 100vw;
    height: 5000px;
}

html {
    scroll-behavior: smooth;
}