.hero {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.parallax-layer {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-out;
}

.background {
    z-index: 1;
    animation: background-scroll 2s linear;
}

/* Mellanlagret - det scrollar snabbare än bakgrunden för djup */
.middle {
    z-index: 2;
    animation: middle-scroll 3s linear infinite;
}

/* Förgrundslager - detta lagret ska fadea till vitt */
.foreground {
    z-index: 3;
    animation: foreground-scroll 4s linear infinite;
}

.underhero {
    width: 100%;
    height: 5000px;
    background-color: white;
    position: relative;
}
  
  @keyframes background-scroll {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.1)
    }
}

@keyframes middle-scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateX(1.5)
    }
}

@keyframes foreground-scroll {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.1)
    }
}

.underhero {
    width: 100%;
    height: 5000px;
    background-color: white;
}