.newsletter{
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #1A1A18;
    height: 42.5vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

.newsletterForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.newsletterImageContainer img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

h2 {
    color: #fff;
    font-size: 3rem;
}

.newsletterText{
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.inputContainer{
    display: flex;
    justify-content: start;
}

input {
    height: 3.8rem;
    width: 30rem;
    font-size: 1.25rem;
    padding-left: 2rem;
    border: none;
}

.newsletterButton{
    border: none;
    object-fit: cover;
    background-image: url(../assets/icons/arrow_subscribe.svg);
    background-repeat: no-repeat;
    background-color: #26CCA6;
    background-position: center;
    height: 3.8rem;
    width: 6rem;
}